[Unit]
Description=kcapp-odds-api-service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/kcapp-odds-api $GOPATH/src/github.com/kcapp/odds-api/config/config.yaml
Restart=on-failure
